

<div class="panel-body">
    <p>@Model.Text</p>
    <br />
    <span class="label label-success">@Model.Date</span>
    <br />
    <i class="glyphicon glyphicon-user"></i><strong> @Model.User.UserName </strong>
    <br />
</div>
