@{
    ViewBag.Title = "Search";
}

<h2>Rezultatul cautarii</h2>

<div>
    @if (ViewBag.SearchRes != null)
    {
        foreach (DAW_project.Models.ApplicationUser user in ViewBag.SearchRes)
        {
        <a class="colorText" href="/User/Show/@user.Id"> @user.FirstName @user.LastName</a>
        <br />
        }
    }
</div>