@model DAW_project.Models.ApplicationUser

<h2>Pagina Utilizator</h2>

@Html.DisplayTextFor(m => m.FirstName)
<br />
@Html.DisplayTextFor(m => m.LastName)
<br />
@if (ViewBag.ButtonId != "0")
{
    if (ViewBag.AlreadySent == 1)
    {
        <div>
            <a class="btn btn-sm btn btn-success" href="/User/DelFriend/@ViewBag.ButtonId"> Anuleaza Cererea</a>
        </div>
    }
    else if (ViewBag.GotRequest == 1)
    {
        <div>
            <a class="btn btn-sm btn btn-success" href="/User/AddFriend/@ViewBag.ButtonId"> Accepta Cererea</a>
        </div>
        <div>
            <a class="btn btn-sm btn btn-danger" href="/User/DelFriend/@ViewBag.ButtonId"> Respinge Cererea</a>
        </div>
    }
    else if (ViewBag.AlreadyFriends == 1)
    {
        <div>
            <a class="btn btn-sm btn btn-danger" href="/User/DelFriend/@ViewBag.ButtonId"> Sterge prieten</a>
        </div>
    }
    else if (ViewBag.SamePerson != true)
    {
        <div>
            <a class="btn btn-sm btn btn-success" href="/User/ReqFriend/@ViewBag.ButtonId"> Adauga ca prieten</a>
        </div>
    }
}

@if (ViewBag.SamePerson == true)
{
    <a class="btn btn-primary" href="/Posts/New"> Adauga Postare</a>
}

<h3>@ViewBag.Message</h3>

<div>
    @foreach (DAW_project.Models.Post post in ViewBag.Posts)
    {
        <div class="panel panel-default">
            @Html.Partial("PostInfo", post)
            <div class="panel-footer">
                <a class="btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId"> Afisare postare</a>
            </div>
        </div>
    }
</div>