
@{
    ViewBag.Title = "Index";
}

<h1>Lista grupurilor de pe platforma</h1>

@if (ViewBag.utilizatorCurent != null) // daca este un utilizator logat
{
    <a class="btn btn-primary" href="/Group/New"> Creaza un Grup Nou</a>
}

@foreach (DAW_project.Models.Group group in ViewBag.Groups)
{
    <br />
    <a href="/Group/Show/@group.GroupId" class="clear-link prieten">@group.GroupName</a>
}
