@model DAW_project.Models.Group

@{
    ViewBag.Title = "Members";
}

<h2>Memberi din @Model.GroupName</h2>

<a class="btn btn-primary" href="/Group/Show/@Model.GroupId"> Inapoi la Grup</a>

<hr class="linie-footer" />

@foreach (DAW_project.Models.ApplicationUser user in ViewBag.Users)
{
    <a href="/User/Show/@user.Id" class="clear-link membri"> @user.FirstName @user.LastName </a>
    <br />
}

