@model DAW_project.Models.Post

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Afisare postari</h2>

@if(ViewBag.utilizatorCurent != null) // daca este un utilizator logat
{ 
    <a class="btn btn-primary" href="/Posts/New"> Adauga Postare</a>
}


<h3>@ViewBag.Message</h3>

@foreach (DAW_project.Models.Post post in ViewBag.Posts)
{
<div class="panel panel-default">
    @Html.Partial("PostInfo", post)
    <div class="panel-footer">
        <a class="btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId"> Afisare postare</a>
    </div>
</div>
    <br /> <br />
}
