@model DAW_project.Models.Post

@{
    /**/

    ViewBag.Title = "New";
}

<h2>Ce vrei sa postezi?</h2>

<!--
<form method="post" action="/Posts/New">
    <label>La ce te gandesti?</label>
    <textarea name="Text"></textarea>
    <!--<label>UserId</label>
    <input type="text" name="UserId" />
<button type="submit">Posteaza!</button>
</form>
-->

@using (Html.BeginForm(actionName: "New", controllerName: "Posts"))
{
    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
    @Html.TextAreaFor(m => m.Text, new { @class = "form-control comment-area" })
    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-primary" type="submit">Posteaza!</button>
}




<!--


<form method="post" action="/Posts/New">
    <label>La ce te gandesti?</label>
    <textarea name="Text"></textarea>
    <br /> <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />
    <label>UserId</label>
    <input type="text" name="UserId"/>
    <button type="submit">Posteaza!</button>
</form>

-->
